
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

body  {
    background-color: darkblue;
    background-image: url("Mirror_Under_Construction_But_Better_Carlone_Cosi.png");
    background-size:cover;
    /* background-repeat: cover; */
    -webkit-animation: slidein 30s;
    animation: slidein 30s;

    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;

    -webkit-animation-direction: alternate;
    animation-direction: alternate;              
}

@-webkit-keyframes slidein {
    from {background-position: top; background-size:50px; }
    to {background-position: -100px 0px;background-size:50px;}
    }
    
    @keyframes slidein {
    from {background-position: top;background-size:50px; }
    to {background-position: -100px 0px;background-size:50px;}
    
}

    /* body {
        background-color: darkblue;
        background-image: url("Mirror_Under_Construction_But_Better_Carlone_Cosi.png");
        background-repeat: repeat;
        animation: slide 6s linear infinite;
    } */
    div {
        border-radius: 25px;
        background: #173de6;
        padding: 20px;
        width: 200px;
        height: auto;
        z-index: 1;
        opacity: 90%;     
    }

    .title{
        margin: auto;
        width: 80%;
        opacity: 100%;
        border: 5px solid rgb(231, 191, 12);
        padding: 10px;
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: larger;
        /* position: sticky; /* make sticky by uncommenting*/
        top: 0;
    }
    .center {
        margin: auto;
        width: 75%;
        border: 3px solid rgb(231, 191, 12);
        padding: 15px;
        text-align: center;
        font-size: large;
    }

/* @keyframes slide {
    0% {
        transform: translate(0);
    }  
    100% {
        transform: translate(-3840px); /* The image width */
    /*}
} */
